*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body{
    background-color: #081b29;
    color: #ededed;
}
.header{
    position: fixed;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content:space-between;
}

.logo{
    font-size: 25px;
    color: rgb(0, 255, 221);
    text-decoration: none;
}
.navbar a{
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    margin-left: 35px;
    transition: .5s;
    font-weight: 600;
}
.navbar a:hover,
a.active{
    color: rgb(91, 91, 214);

}
.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}
.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.text {
    max-width: 600px;
}
.text h1 {
    font-size: 56px;
    font-weight: 600;
}

.text h3 {
    font-size: 34px;
    color: #00abf0;
}

.text p {
    font-size: 18px;
    margin: 20px 0 40px;
}

.btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    font-weight: 600;
    
}

.btn-box a {
    display: inline-flex;
    background-color: #00abf0;
    justify-content: center;
    align-items: center;
    transition: .6s;
    width: 150px;
    font-size: 19px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-box a:hover {
    background-color: aquamarine;
}


.profile-image img {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 1px solid white;
    background-color: #00abf0; 
   
}